.photo-grid__item{
 width: 284px;
 height: 213px;
}

@media(max-width: 1232px) {
  .photo-grid__item{
    
    width: 250px;
    height: 170px;
  }
}

@media(max-width: 1105px) {
  .photo-grid__item{
    
    width: 230px;
    height: 150px;
  }
}

@media(max-width: 1024px) {
  .photo-grid__item{
    
    width: 300px;
    height: 225px;
  }
}

@media(max-width: 967px) {
  .photo-grid__item{
    
    width: 247px;
    height: 170px;
  }
}

@media(max-width: 768px) {
  .photo-grid__item{
    
    width: 352px;
    height: 264px;
  }
}

@media(max-width: 744px) {
  .photo-grid__item{
    justify-self: center;
    width: 290px;
    height: 210px;
  }
}

@media(max-width: 320px) {
  .photo-grid__item{
    
    width: 288px;
    height: 216px;
  }
}